.instructions-wrapper {
    max-width: 1000px;
    background: rgb(139,125,55);
background: radial-gradient(circle, rgba(139,125,55,1) 0%, rgba(103,70,22,1) 100%);
border: solid gold;
    border-radius: 10px;
    padding: 20px;
}

.important {
    color: #ff4742;
}

@media screen and (max-width: 700px) {
    .instructions-wrapper {
    font-size: 0.8rem;
    margin: 0 10px;
    }
}